@import '../../scss/colors.scss';
.card-desc {
  font-size: 0.8rem
}

.image-container {
  position: relative;

  .title {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: $transparent;
    font-size: 2rem;
  }
}