@import "../../scss/colors";

img {
  width: 100%;
}

.view-more {
  display: flex;
  justify-content: center;
}

.section {
  background-color: $background;

  .heading {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    padding: 1em 0;
    text-align: center;
  }

  .view-more {
    color: $white;
  }
}
