.login-form {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 36rem;
}

.submit {
    margin-top: 1rem;
}