.feature-container {
    background-image: url("https://res.cloudinary.com/dayo7ui1r/image/upload/w_1920,h_500,c_crop/v1564938595/Binge/hotel-budapest.png");
    background-repeat: no-repeat, repeat;
    height: 500px;
}